{% extends 'app/_layout.html' %}

{% block body %}
    <div class="row">
        <div class="col-lg-8 mx-2 my-3 p-3 bg-white rounded shadow-sm" id="tweet-container"></div>
        <div class="col-lg-3 mx-2 my-3 mb-auto py-3 bg-white rounded shadow-sm" id="" style="">
            <h5>SUGGEST SOME EMOJI!</h5>
            <p>
                For improving the emoji forms of tweets, please contribute some word/phrase and emoji pairs. You can
                choose from among emoji list below to type.
            </p>
            <form id="frm-suggestion">
                <div class="form-group">
                    <input type="text" class="form-control" name="txt-phrase" id="txt-phrase"
                           placeholder="WORD OR PHRASE">
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" name="txt-emojis" id="txt-emojis"
                           aria-describedby="help-emoji"
                           placeholder="EMOJI">
                    <small id="help-emoji" class="form-text text-muted">Choose one or more emoji</small>
                </div>

                <button class="btn btn-block btn-default" type="submit">SUGGEST</button>
                <small id="message-suggest"></small>
            </form>
            <div id="emoji-container" class="text-justify mt-3" style="overflow-y: scroll; height: 56vh;"></div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script type="text/template" id="template-tweet">
        << _.each(content, function(item, index) { >>
        <div class="media text-muted pt-3 tweet" tweetId="<<= item.id_str >>">
            <img src="<<= item.user.profile_image_url_https >>" class="mr-2 rounded" style="width: 48px; height: 48px;"
                 data-holder-rendered="true">
            <p class="media-body pr-2 pb-3 mb-0 lh-125">
                <span class="d-block small text-gray-dark">
                    <strong class="text-gray-dark"><<= item.user.screen_name >></strong> @<<= item.user.name >>
                </span>
                <<= item.full_text >>
                <a href="#convert-tweet" class="btn-convert" tweetid="<<= item.id_str >>">Try converting to emoji</a>
            </p>
            <span class="vote my-auto" style="float: right">
                <a href="" title="Like"><i class="fas fa-check"></i></a>
                <br><br>
                <a href="" title="Wrong"><i class="fas fa-times"></i></a>
            </span>
        </div>
        << }); >>
    </script>

    <script type="text/template" id="template-emoji">
        << _.each(content, function(item, index) { >>
        <a href="#<<= item.fields.Icon >>" data-emojiId="<<=item.pk >>" title="<<= item.fields.Name >>"
           class="emoji-key zoom"><<=item.fields.Icon >></a>
        << }); >>
    </script>

    <script type="text/template" id="template-converted">
        <hr>
        <ul>
            <li>ok</li>
            <li>ok</li>
        </ul>

    </script>

    <script>
        var emojilist = [];

        function LoadTweets(q) {
            $.getJSON("/tweets/" + q, function (data) {
                var template = _.template($("#template-tweet").html());
                $("#tweet-container").html(template({content: data.statuses}));

                $('.btn-convert').click(function () {
                    var id = $(this).attr("tweetId");
                    $.getJSON("/convert/" + id, function (data) {
                        var template = _.template($("#template-converted").html());
                        $(".tweet[tweetId=" + id + "]").find('.media-body').append(template({content: data}));
                        console.log(data);
                    });
                    $(this).hide();
                });

                console.log(data);
            });
        }

        $(document).ready(function () {
            console.log("index");
            var intoductionquery = 'nasa';
            $('#txt-query').val(intoductionquery);
            LoadTweets(intoductionquery);

            $('#btn-query').click(function () {
                var q = $('#txt-query').val();
                LoadTweets(q);
            });


            $('#txt-query').on("keypress", function (e) {
                if (e.keyCode !== 13) return true;
                var q = $('#txt-query').val();
                LoadTweets(q);
                return false;
            });

            $.getJSON("/emojis/", function (data) {
                emojilist = data;
                var template = _.template($("#template-emoji").html());
                $("#emoji-container").html(template({content: data}));
                $('.emoji-key').click(function () {
                    var emoji = $(this).html();
                    $('#txt-emojis').val($('#txt-emojis').val() + emoji);
                });
                console.log(data);
            });

            $('#frm-suggestion').submit(function (e) {
                e.preventDefault();
                json = $(this).serialize();
                $('#frm-suggestion > button[type=submit]').attr('disabled', true);
                $.post("/suggest/", json, function (data, status) {
                    $('#message-suggest').addClass('text-success');
                    $('#message-suggest').html("Your suggestion is saved. Thanks!");
                    $('#frm-suggestion')[0].reset();
                })
                    .fail(function () {
                        $('#message-suggest').addClass('text-danger');
                        $('#message-suggest').html("We have failed to save your suggestion 😥");
                    })
                    .always(function () {
                        $('#frm-suggestion > button[type=submit]').attr('disabled', false);
                    });
            })
        });
    </script>
{% endblock %}
