{% extends 'app/_layout.html' %}

{% block body %}
    <div class="row">
        <div class="col-lg-8 mx-2 my-3 p-3 bg-white rounded shadow-sm" id="tweet-container"></div>
        <div class="col-lg-3 mx-2 my-3 mb-auto py-3 bg-white rounded shadow-sm" id="" style="">
            <h5>SUGGEST SOME EMOJI!</h5>
            <p>
                For improving the emoji forms of tweets, please contribute some word/phrase and emoji pairs. You can
                choose from among emoji list below to type.
            </p>
            <form id="frm-suggestion">
                <div class="form-group">
                    <input type="text" class="form-control" name="txt-phrase" id="txt-phrase"
                           placeholder="WORD OR PHRASE">
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" name="txt-emojis" id="txt-emojis"
                           aria-describedby="help-emoji"
                           placeholder="EMOJI">
                    <small id="help-emoji" class="form-text text-muted">Choose one or more emoji</small>
                </div>

                <button class="btn btn-block btn-default" type="submit">SUGGEST</button>
                <small id="message-suggest"></small>
            </form>

            <div class="form-group input-group-sm mb-0 mt-3">
                <input type="text" class="form-control" name="txt-emojisearch" id="txt-emojisearch"
                       placeholder="SEARCH EMOJI">
            </div>
            <div id="emoji-container" class="text-justify" style="overflow-y: scroll; height: 56vh;"></div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script type="text/template" id="template-tweet">
        << _.each(content, function(item, index) { >>
        <div class="media text-muted pt-3 tweet" tweetId="<<= item.id_str >>">
            <img src="<<= item.user.profile_image_url_https >>" class="mr-2 rounded" style="width: 48px; height: 48px;"
                 data-holder-rendered="true">
            <p class="media-body pr-2 pb-3 mb-0 lh-125 content-container">
                <span class="d-block small text-gray-dark">
                    <strong class="text-gray-dark"><<= item.user.screen_name >></strong> @<<= item.user.name >>
                </span>
                <span class="original-content">
                    <<= item.full_text >>
                    <a href="#convert-tweet" class="btn-convert"
                       tweetid="<<= item.id_str >>">Try converting to emoji</a>
                </span>
            </p>
        </div>
        << }); >>
    </script>

    <script type="text/template" id="template-emoji">
        << _.each(content, function(item, index) { >>
        <a href="#<<= item.fields.Icon >>" data-emojiId="<<=item.pk >>" title="<<= item.fields.Name >>"
           class="emoji-key" name="<<= item.fields.Name.toLowerCase() >>"><<= item.fields.Icon >></a>
        << }); >>
    </script>

    <script type="text/template" id="template-alternatives">
        <ul>
            << _.each(content, function(item, index) { >>
            <li>
                <<= item.fields.Emoji >>
                <a href="#like" class="btn-like ml-2" data-id="<<= item.pk >>" title="Like">
                    <i class="fas fa-check"></i></a>
                <a href="#wrong" class="btn-wrong ml-2" data-id="<<= item.pk >>" title="Wrong">
                    <i class="fas fa-times"></i></a>
            </li>
            << }); >>
        </ul>
    </script>

    <script type="text/template" id="template-converted">
        <span class="converted-content">
            << _.each(content, function(sentence, index) { >>
            <p><<= sentence.result >></p>
            << $.each(sentence.phrases, function(phrase, index) { >>
            <ul>
                << if(sentence.phrases[phrase] != null) { >>
                <li>
                    <<= phrase >>
                    <<= sentence.phrases[phrase].Emoji >>

                    <a href="#like" class="btn-like ml-2" data-id="<<= sentence.phrases[phrase].Id >>" title="Like">
                        <i class="fas fa-check"></i></a>
                    <a href="#wrong" class="btn-wrong ml-2" data-id="<<= sentence.phrases[phrase].Id >>" title="Wrong">
                        <i class="fas fa-times"></i></a>
                    << if(sentence.phrases[phrase].HasAlternatives) { >>
                    <a href="#" class="btn-alternatives ml-3" data-id="<<= sentence.phrases[phrase].Id >>">Show alternatives</a>
                    << } >>
                </li>
                << } >>
            </ul>
            << }); >>
            << }); >>
            <a href="#original-tweet" class="btn-original">Show the original tweet</a>
        </span>
    </script>

    <script>
        var emojilist = [];

        function Vote(id, up) {
            $.post("/vote/", {id: id, up: up}, function (data, status) {
                $('.btn-like[data-id=' + id + ']').hide();
                $('.btn-wrong[data-id=' + id + ']').hide();
            });
        }

        function LoadVoteEvents() {
            $('.btn-like').click(function () {
                var id = $(this).data("id");
                Vote(id, true);
            });

            $('.btn-wrong').click(function () {
                var id = $(this).data("id");
                Vote(id, false);
            });
        }

        function LoadTweets(q) {
            $.getJSON("/tweets/" + q, function (data) {
                var template = _.template($("#template-tweet").html());
                $("#tweet-container").html(template({content: data.statuses}));

                $('.btn-convert').click(function () {
                    var id = $(this).attr("tweetId");
                    $.getJSON("/convert/" + id, function (data) {
                        var template = _.template($("#template-converted").html());
                        $(".tweet[tweetId=" + id + "]").find('.media-body').append(template({content: data}));
                        LoadVoteEvents();

                        $('.btn-alternatives').click(function () {
                            var id = $(this).data("id");
                            $.getJSON("/alternatives/" + id, function (data) {
                                var template = _.template($("#template-alternatives").html());
                                $(".btn-alternatives[data-id=" + id + "]").replaceWith(template({content: data}));
                                LoadVoteEvents();
                            });
                        });

                        $('.btn-original').click(function () {
                            $(this).closest('.converted-content').hide();
                            $(this).parent().parent().find('.original-content').show();
                        });
                        console.log(data);
                    });
                    $(this).closest('.original-content').hide();
                });
                console.log(data);
            });
        }

        $(document).ready(function () {
            console.log("index");
            var intoductionquery = 'nasa';
            $('#txt-query').val(intoductionquery);
            LoadTweets(intoductionquery);

            $('#btn-query').click(function () {
                var q = $('#txt-query').val();
                LoadTweets(q);
            });

            $('#txt-query').on("keypress", function (e) {
                if (e.keyCode !== 13) return true;
                var q = $('#txt-query').val();
                LoadTweets(q);
                return false;
            });

            $('#txt-emojisearch').on('input propertychange paste', function (e) {
                var text = $(this).val();
                if (text.length < 2) {
                    $('.emoji-key').show();
                    return true;
                }
                $('.emoji-key').hide();
                $('.emoji-key[name*=' + text.toLowerCase() + ']').show();
            });

            $.getJSON("/emojis/", function (data) {
                emojilist = data;
                var template = _.template($("#template-emoji").html());
                $("#emoji-container").html(template({content: data}));
                $('.emoji-key').click(function () {
                    var emoji = $(this).html();
                    $('#txt-emojis').val($('#txt-emojis').val() + emoji);
                });
                console.log(data);
            });

            $('#frm-suggestion').submit(function (e) {
                e.preventDefault();
                json = $(this).serialize();
                $('#frm-suggestion > button[type=submit]').attr('disabled', true);
                $.post("/suggest/", json, function (data, status) {
                    $('#message-suggest').addClass('text-success');
                    $('#message-suggest').html("Your suggestion is saved. Thanks!");
                    $('#frm-suggestion')[0].reset();
                })
                    .fail(function () {
                        $('#message-suggest').addClass('text-danger');
                        $('#message-suggest').html("We have failed to save your suggestion 😥");
                    })
                    .always(function () {
                        $('#frm-suggestion > button[type=submit]').attr('disabled', false);
                    });
            })
        });
    </script>
{% endblock %}
